<h1> <%= @task.title %> </h1>

<h6><%= @task.details %></h6>
<p><%= @task.completed ? "This task is completed" : "This task is not completed" %></p>


<%= link_to 'Back to list', tasks_path %>
<%= link_to 'Edit task', edit_task_path %>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
